In [13]:
import pandas as pd
from datetime import datetime

In [14]:
coaches = pd.read_csv('edited/coaches.csv')
coaches = coaches.set_index(['tmID', 'year'])

coaches.rename(columns={'stint': 'coachStint'}, inplace=True)

In [15]:
teams = pd.read_csv('edited/teams.csv')
teams = teams.set_index(['tmID', 'year'])

In [16]:
teamsCoachesComb = coaches.join(teams, how='inner')
teamsCoachesComb

              coachID  coachStint confID
tmID year
ATL  11    meadoma99w           0     EA
CHI  11    chatmda99w           0     EA
CON  11    thibami99w           0     EA
IND  11    dunnli99wc           0     EA
LAS  11    bryanjo01w           0     WE
     11    gilloje01w           0     WE
MIN  11    reevech99w           0     WE
NYL  11    whisejo99w           0     EA
PHO  11    gaineco01w           0     WE
SAS  11    hugheda99w           0     WE
SEA  11    aglerbr99w           0     WE
TUL  11    edwarte01w           0     WE
     11    richano99w           0     WE
WAS  11    laceytr99w           0     EA

In [17]:
players = pd.read_csv('edited/players_teams.csv')
players.set_index(['tmID', 'year'], inplace=True)

In [18]:
allComb = teamsCoachesComb.join(players, how='inner')
allComb

              coachID  coachStint confID    playerID  stint  lgID
tmID year
ATL  11    meadoma99w           0     EA  balesal01w      0  WNBA
     11    meadoma99w           0     EA  castriz01w      0  WNBA
     11    meadoma99w           0     EA  desouer01w      0  WNBA
     11    meadoma99w           0     EA  hardili01w      0  WNBA
     11    meadoma99w           0     EA  irvinsa01w      0  WNBA
...               ...         ...    ...         ...    ...   ...
WAS  11    laceytr99w           0     EA  langhcr01w      0  WNBA
     11    laceytr99w           0     EA  milleke01w      0  WNBA
     11    laceytr99w           0     EA  phillta02w      0  WNBA
     11    laceytr99w           0     EA  thomaja01w      0  WNBA
     11    laceytr99w           0     EA  walkede01w      0  WNBA

[175 rows x 6 columns]

In [19]:
allComb.to_csv('edited/all.csv')